Source: io.elementary.feedback
Section: x11
Priority: extra
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               libadwaita-1-dev (>= 1.4.0),
               libappstream-dev (>= 1.0.0),
               libgranite-7-dev (>= 7.7.0),
               libgtk-4-dev (>= 4.10),
               meson,
               valac
Standards-Version: 4.1.1

Package: io.elementary.feedback
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Submit and track issue reports
 Feedback assists users in reporting issues against the correct GitHub repository.
