Source: io.elementary.feedback
Section: x11
Priority: extra
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               libadwaita-1-dev,
               libappstream-dev,
               libgranite-7-dev,
               libgtk-4-dev,
               meson,
               valac
Standards-Version: 4.1.1

Package: io.elementary.feedback
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Submit and track issue reports
 Feedback assists users in reporting issues against the correct GitHub repository.
